/* -- CSS Reset Styles -- */
*{
	outline: 0;
	padding: 0;
	margin: 0;
}
/* -- end of CSS Resets -- */

/* -- CSS Styles begins here -- */
#wrapper{
	width: 35em;
	margin: 2em auto;
	background-color: #062134;

	padding: 0px 10px 10px 10px;
	border-radius: .3em;
}

/* -- header -- */
header h1{
	color: white;
	font-size: 1.55em;
	font-weight: 500;
	font-family: verdana,sans-serif;
	display: inline-block;

	margin: 20px 89px 20px 20px;
}
#main_content{
	padding: 10px 10px 6px 10px;
	background-color: white;
}
#main_content img{
	border: .5em solid #1468A8;
	width: 10em;
}
#main_content h2{
	margin-top: 7px;

	color: white;
	font-size: 1.20em;
	font-weight: 500;
	font-family: verdana, sans-serif;

	vertical-align: top;
	display: inline-block;
}
#main_content p{
	color: white;
	font-size: .67em;
	font-weight: 400;
	font-family: arial , sans-serif;

	width: 300px;
	height: 169px;
	display: inline-block;
	background-color: #1468A8;
	vertical-align: top;
	padding: 30px;
}


/* -- footer -- */
footer{
	margin-top:3px;
	padding: 12px 15px 17px 15px;
	background-color: #DAEDFF;
}
footer nav{
	text-align: center;
}
footer nav ul{
	list-style-type: none;
}
footer nav ul li{
	display: inline;
}
footer a{
	text-decoration: none;

	color: #5789AD;
	font-size: .67em;
	font-weight: 400;
	font-family: arial , sans-serif;
}
footer nav ul li{
	display: inline;
	margin: 0px 10px;
}
footer a:hover{
	color: #A4CEF0;
}
footer .home{
	color: #A4CEF0;
}
/* -- end of footer -- */