<div class="navbar-wrapper">
	<div class="container">

		<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><b>T</b><small>OMMY</small> <b>O</b><small>H</small></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="#/home">home</a></li>
						<li class="active"><a href="#/me">me</a></li>
						<li><a href="#/resume">resume</a></li>
						<li><a href="#/contact">contact</a></li>
						<li class="dropdown">
							<a href="#/me" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">more <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Skill Storage</a></li>
								<li><a href="#">Self Q&A</a></li>
								<li><a href="#">Daily Plan</a></li>
								<li><a href="#">About this website</a></li>
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">My Other Websites</li>
								<li><a href="#">Blizzmate</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</div>


<div class="container">

      <div class="row top_for_nav">
		  <div class="col-md-5 col-md-push-7">
            <img class="featurette-image center-block img-circle" src="/static/img/me.jpg" alt="me" height="280" width="280">
          </div>
        <div class="col-md-7 col-md-pull-5">
			<h3 class="featurette-heading">CERCA TROVA <span class="text-muted">seek and ye shall find</span></h3>
          	<p><b>Hi! I'm Tommy. I love coding, thinking, and running. I'm almost always learning and smiling!</b></p>
		  	<p>
			  	Right now, I am working to prove myself that I can make some awesome web contents. Prior to taking an online coding bootcamp at Coding Dojo, I was a Sales / Project engineer at Mitsubishi Electric, US - Elevator & Escalator Division.
			</p>
		  	<p>
		  	 	Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo
		  	</p>

		</div>

      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->





    </div><!-- /.container -->
