<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Group Chat</title>
		
		<!-- load jQuery and bootstrap -->
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>

		<!-- require socket.io.js -->
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>

		<!-- load stylesheets -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />

		<!-- Load the socket engine for the chatroom -->
		<script type="text/javascript" src="/engine/my_socket_engine.js"></script>

	</head>
	<body>
		<div class="container">
			<div class="chatroom panel panel-primary">
				<div class="panel-heading">
    				<h3 class="panel-title">Chatroom</h3>
  				</div>
				<div class="row panel-body chatroom-body">
					<div class="col-sm-12 col-md-9 chat_dashboard panel panel-danger">
						<div class="panel-heading">
		    				<h5 class="panel-title">Chat log</h5>
		  				</div>
						<div id="chatting-zone" class="panel-body chat-log">

						</div>
					</div>
					<div class="chat-list hidden-xs hidden-sm col-md-3 panel panel-info">
						<div class="panel-heading">
		    				<h5 class="panel-title">User list</h5>
		  				</div>
						<div class="panel-body users_list">
						</div>
					</div>
  				</div>
				<div class="type_message panel-footer">
					<form id="message_form">
						<div class="form-group">
							<input type="text" class="form-control" id="message" placeholder="enter your message here" required>
						</div>
  						<div class="modal-footer">
  							<button type="submit" class="btn btn-primary">Send</button>
  						</div>
					</form>
				</div>
			</div>
		</div>


		<div id="myModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static"
	    data-keyboard="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Chatroom</h4>
				</div>
				<div class="modal-body">
					<form id="user_name_form">
						<div class="form-group">
							<label for="user_name">Put your user name!</label>
							<input type="text" class="form-control" id="user_name" placeholder="fobbytommy" required>
						</div>
  						<div class="modal-footer">
  							<button type="submit" class="btn btn-primary">Enter the Chatroom!</button>
  						</div>
					</form>
				</div>
			</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</body>
</html>
